|-----------------+------------+---------------+------+-------------|
| hierarchy level | block name | address range | size | secure attr |
|-----------------+------------+---------------+------+-------------|
{% for node in nodes if isinstance(node, (AddrmapNode, MemNode)) -%}
| {{get_hier_depth(node)}} | {{get_inst_name(node)}} | {{get_abs_addr(node)}}-{{get_end_addr(node)}} | {{convert_size(node.size)}} | {{get_secure_attr(node)}} |
{% endfor -%}
|-----------------+------------+---------------+------+-------------|