$(call declare-mod,{{top_name}})
$(call add,rtl,{{top_name}}, \
    {%- for file in filelist %}
    $(PROJECT_{{top_name|upper}}_HOME)/rtl/{{file}}{% if not loop.last %} \{% else %}){% endif %}
    {%- endfor %}

$(call add,mod,{{top_name}},hrda)